body {
  margin: 0;
  line-height: normal;
}

a:link{
  color:Black;
  text-decoration-line: none;
}
a:visited{
  color:Black;
}
a:hover{
  color:#0C68F4;
  
}
a:active{
  color:#0C68F4;
  text-decoration-line: underline;
  text-decoration-color:#0C68F4;
}
:root {
  /* fonts */
  --web-h5: Inter;

  /* font sizes */
  --web-h5-size: 20px;
  --web-body-md-size: 16px;
  --web-body-sm-size: 14px;
  --web-body-lg-size: 18px;

  /* Colors */
  --white: #fff;
  --neutral-gray-f9f9f9: #f9f9f9;
  --neutral-gray-f6f6f6: #f6f6f6;
  --state-error: #c91433;
  --black: #0c0c0c;
  --primary-primary-300: #0c68f4;
  --gradient-linear-stroke-bottom: rgba(12, 104, 244, 0.3);
  --neutral-gray-717171: #717171;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-29xl: 48px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-5xs: 8px;
}
